__pycache__/
*.egg-info/
*.egg
.ipynb_checkpoints
.vscode/

# simulation files
simulations/*.h5
simulations/*.mat
simulations/*.txt

# large data files with exceptions
playground/*/data/*.txt
playground/*/data/*.h5
playground/*/data/*.mat
playground/*/data/*.csv
playground/*/data/*/*.txt
playground/*/data/*/*.h5
playground/*/data/*/*.mat
playground/*/data/*/*.csv
playground/*/data/*/*/*.txt
playground/*/data/*/*/*.h5
playground/*/data/*/*/*.mat
playground/*/data/*/*/*.csv
!playground/SoftCOM2022/data/*.mat
.bkp
